@font-face {
  font-family: "Heyam";
  src: url("./assets/fonts/Heyam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Blomberg";
  src: url("./assets/fonts/Blomberg-8MKKZ.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: Blomberg, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #963b3c;
  --primary-color-light: #d37b7d;
  --secondary-color: #e89c1e;
}
body {
  background-color: var(--primary-color);
}
